.main{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: rgb(31, 31, 31);
    width: 30%;
    height: 290px;
    margin:19vh auto;
}
.header{
    width: 100%;
    background-color: rgb(102, 102, 102);
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header span{
    display: block;
    padding:0px 10px;
    width:max-content;
    background-color: blueviolet;
    border: 3px solid blueviolet;
    user-select: none;
}
.header span:hover{
    background-color: transparent;
}
input{
    background-color: rgb(129, 128, 128);
    border: 0px ;
    border-radius: 2px;
    color: rgb(255, 255, 255);
}
input:focus{
 outline: none;
}
.inputt{
    width: max-content;
   
    margin: auto;
}
.footerr{
    padding: 0px;
    border: 0px;
    width: max-content;
    background-color: yellow;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px auto;
    font: bolder;
    border: 1px solid yellow;
     
}
.footerr:hover{
    
    background-color: transparent;
    color: aliceblue;
}